<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>

<body>

  <h2>Login Form</h2>
  <form action="/form/login" method="POST">
    用户名: <input type="text" name="username" />
    密码: <input type="password" name="password" />
    <input type="submit" value="Login" />
  </form>

</body>

</html>